body {
  background-color: #9ba389;
  background-image: url("../static/images/pattern.png");
  background-size: 100px;

  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.bookcover {
  background-color: #00c080;
  border-radius: 9px;
  border: 1px solid #738186;
  width: 960px;
  height: 660px;
  margin: 100px auto;

  position: relative;
}
.bookdot {
  position: absolute;

  border-radius: 9px;
  border: 2px dashed #e7e7e7;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
.page {
  border: solid #e7e7e7;
  background-color: #e7e7e7;
  position: absolute;
  border-radius: 9px;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;

  display: flex;
}
