
/* 프로필 */
.todaymain {
  flex: 0.25;
  display: flex;
  flex-direction: column;
  margin: 15px;
}
.today {
  font-family: 'NeoDunggeunmo';
  flex: 0.05;
}
.date {
  text-align: center;
  font-size: 14px;
  margin: 5px 0 5px 0;
}
.date span {
  color: #ff0000;
}
.main {
  font-family: 'GmarketSansMedium';
  flex: 1;
  border: solid #ffffff;
  border: 1px solid #aeb3b4;
  background-color: #ffffff;
  border-radius: 10px;
  font-size: 13px;

  display: flex;
  flex-direction: column;

}
.photo {
  flex: 0.3;
}
.photo img {
  display: block;
  margin: 30px;
  width: 70%;
}
.profile {
  flex: 0.5;
  margin: 0 30px 0 30px;
}
.who {
  flex: 0.05;
  text-align: left;
  margin: 0 30px 0 30px;
}
.wave {
  flex: 0.15;
  margin: 0 30px 0 30px;

}
select {
  padding: 5px 14px 5px 14px;
}

/* 메인 스팟 */

.subjectcontent {
  flex: 0.65;
  display: flex;
  flex-direction: column;
  margin: 15px 0 15px 15px;
  font-size: 13px;
}
.ss2 {
  display: flex;
}
.subject {
  font-family: 'GmarketSansMedium';
  flex: 1;
  font-size: 15px;
  font-weight: 500;
}
.subject2 {
  flex: 1;
  text-align: right;
  font-size: 10px;
  margin-top: 6px;
}
.content {
  font-family: 'KoPubDotumMedium';
  flex: 1;
  border: solid #ffffff;
  border: 1px solid #aeb3b4;
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 6px;
  width: 550px;
  height: 550px;

  display: flex;
  flex-direction: column;
}
.news {
  font-family: 'GmarketSansMedium';
  font-weight: bold;
  color: #006308;
  border-bottom: 2px solid #747474;
  margin: 10px 10px 0 10px;
}
.first {
  display: flex;
  flex-direction: row;
  margin: 10px 10px 40px 10px;
}
.news-page {
  flex: 0.5;
  display: flex;
  flex-direction: column;
}
.contents1, .contents2, .contents3, .contents4 {
  display: flex;
  flex-direction: row;
  margin: 1px;
}
.album1, .album2 {
  background-color: #eb4848;
  border-radius: 5px;
}
.board1, .board2 {
  background-color: #545ee9;
  border-radius: 5px;
}
.album1, .album2, .board1, .board2 {
  color: #ffffff;
  padding: 2px;
  font-weight: 700;

}
.album1-say, .board1-say, .board2-say, .album2-say {
  margin-left: 10px;
  padding: 2px;
}

/* flex-basis - item의 크기
item의 가로폭을 50%로 하여
한 행에 2개의 item

flex-wrap은, item이 container를 넘어갈 때 어떻게 처리할 것인가
wrap으로 지정하면 item이 다음 행으로
align-content는 컨텐츠의 정렬을 지정
flex-start는 맨 위 */

.news-page2 {
  flex: 0.5;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  font-weight: 700;
}
.news-page2>div {
  padding-top: 3px;
  padding-bottom: 3px;
  flex-basis: 50%;
  border-bottom: 1px dashed gray;
}
.news-page2>div>span {
  font-family: 'NeoDunggeunmo';
  font-size: 8px;
  color: #006308;
}
.second {
  flex: 1;
  margin: 0 10px 0 10px;
}
.second img {
  width: 100%;
  margin-top: 20px;
}

/* 오른쪽 버튼 */

.box {
  flex: 0.1;
  margin: 15px 15px 15px 0;

  display: flex;
  flex-direction: column;
}
.bigmenu {
  flex: 0.5;
  font-family: 'NeoDunggeunmo';
  font-size: 15px;
  margin-top: 50px;
  flex-direction: column;
}
.bigmenu > div {
  margin-top: 15px;
  background-color: #ffffff;
  border-top: 1px solid #aeb3b4;
  border-bottom: 1px solid #aeb3b4;
  border-right: 1px solid #aeb3b4;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 7px;
}
.bigmenu > a {
  text-decoration: none;
}
.bigmenu > div:hover {
  background-color: #9ba389;
  color: #ffffff;
  cursor: pointer;
}